$primaryBlue: #4162ff;
$primaryGray: #9fa0a0;
$lineColor: #c8c8c8;
$white: #fff;
$black: #3e3a39;
$dot: #ffd24d;
$titleLine: #fdfdfd;
$titleBg: rgba(93, 85, 83, 0.1);

// background
$backgroundColor: #7f7f7f;

$barOuter: #d33a31;
$barInner: #b2b2b2;